[Unit]
Description=Syncthing monitoring

[Service]
User=${USERNAME}
Group=${GROUPNAME}
Environment="TOKEN=${TOKEN}"
Environment="CHAT_ID=${CHAT_ID}"
Type=oneshot
ExecStart=/usr/bin/node ${PWD}/syncthing-monitoring/monitoring.mjs

[Install]
WantedBy=multi-user.target

