[Unit]
Description=Restic backup to %i

[Service]
EnvironmentFile=/etc/restic_configs/%i/config
LoadCredentialEncrypted=aws_secret_access_key:/etc/restic_configs/%i/aws_secret_access_key
LoadCredentialEncrypted=restic_password:/etc/restic_configs/%i/restic_password

Type=oneshot

SystemCallFilter=@system-service
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
KeyringMode=private
ProtectClock=true
RestrictRealtime=true
PrivateDevices=true
PrivateTmp=true
ProtectHostname=true
SystemCallArchitectures=native
CapabilityBoundingSet=
RestrictNamespaces=true
LockPersonality=true
RestrictAddressFamilies=AF_INET AF_INET6
ProtectProc=noaccess
RemoveIPC=true
PrivateUsers=true
User=sashee

ProtectSystem=strict

ProtectHome=tmpfs
BindReadOnlyPaths=/home/sashee/laptop-backup
BindReadOnlyPaths=/home/sashee/Mobile-backup
BindReadOnlyPaths=/home/sashee/safe
BindReadOnlyPaths=/home/sashee/Notes

ExecStartPre=/bin/sh -c 'curl -s --get --data-urlencode state=run --data-urlencode series=${INVOCATION_ID} --data-urlencode message=%i ${CRONITOR_MONITOR_URL}'
ExecStartPre=/bin/sh -c 'AWS_SECRET_ACCESS_KEY=$(cat ${CREDENTIALS_DIRECTORY}/aws_secret_access_key) RESTIC_PASSWORD=$(cat ${CREDENTIALS_DIRECTORY}/restic_password) restic unlock'
ExecStart=date
ExecStart=/bin/sh -c 'AWS_SECRET_ACCESS_KEY=$(cat ${CREDENTIALS_DIRECTORY}/aws_secret_access_key) RESTIC_PASSWORD=$(cat ${CREDENTIALS_DIRECTORY}/restic_password) restic backup --group-by \'\' $BACKUP_DIRS $EXCLUDES'
ExecStart=echo "Backup complete"
ExecStart=/bin/sh -c 'if [ -n "${PRUNE}" ]; then AWS_SECRET_ACCESS_KEY=$(cat ${CREDENTIALS_DIRECTORY}/aws_secret_access_key) RESTIC_PASSWORD=$(cat ${CREDENTIALS_DIRECTORY}/restic_password) restic forget $PRUNE --group-by \'\' --prune --compact; else echo "Skipping prune"; fi'
ExecStart=echo "Prune complete"
ExecStart=/bin/sh -c 'AWS_SECRET_ACCESS_KEY=$(cat ${CREDENTIALS_DIRECTORY}/aws_secret_access_key) RESTIC_PASSWORD=$(cat ${CREDENTIALS_DIRECTORY}/restic_password) restic check'
ExecStart=echo "Check complete"
ExecStart=/bin/sh -c 'AWS_SECRET_ACCESS_KEY=$(cat ${CREDENTIALS_DIRECTORY}/aws_secret_access_key) RESTIC_PASSWORD=$(cat ${CREDENTIALS_DIRECTORY}/restic_password) restic snapshots'
ExecStart=/bin/sh -c 'AWS_SECRET_ACCESS_KEY=$(cat ${CREDENTIALS_DIRECTORY}/aws_secret_access_key) RESTIC_PASSWORD=$(cat ${CREDENTIALS_DIRECTORY}/restic_password) restic stats latest'
ExecStart=date
ExecStopPost=/bin/sh -c 'curl -s --get --data-urlencode series=${INVOCATION_ID} --data-urlencode state@<([ "${EXIT_STATUS}" == 0 ] && echo -n "complete" || echo -n "fail") --data-urlencode message@<(journalctl USER_INVOCATION_ID=${INVOCATION_ID} + _SYSTEMD_INVOCATION_ID=${INVOCATION_ID} + INVOCATION_ID=${INVOCATION_ID} -o cat | tail -c 2000) ${CRONITOR_MONITOR_URL}'

